<template default>
  <div>
    <span value="{{ props.value }}" />
    <span value="  {{ props.value }}   " />
    <span value="{{props.value}}" />
    <span value="{{ props.value + ' ' + otherValue }}" />
    <span value="{{ `${props.value} ${otherValue}` }}" />

    <span value="Hello {{ props.person }}" />

    <span>{{ props.value }}</span>
    <span>
      {{ props.value }}
    </span>
    <span>    {{   props.value   }} </span>
    <span>{{props.value}}</span>
    <span>{{   props.value + ' ' + otherValue    }}</span>
    <span>Hello {{     props.person    }}</span>

    <span use-props="{{ props.value }}" />
    <span use-props="{{props.value}}" />
    <span use-props="  {{  props.value   }}  " />

    <span value />
    <span value="true" />
    <span value="TRUE" />
    <span value="false" />
    <span value="FALSE" />
    <span value="   true     " />
    <span value="{{ true }}" />
    <span value="{{ false }}" />
    <span value="  {{   true  }}   " />
  </div>
</template>
